@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/487c754f8a5042c0aee3faf396d3a8d5.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/741377e999284fe7af3b5f4e6ab2b674.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/123f0f7697bc4eeebcb0c39a9a81e4b3.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('https://scmedia.itsfogo.com/$-$/3a12a8a9214e4b7bad29852c10ad3f1b.ttf') format('truetype');
    font-weight: bold;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

html *,
html *:before,
html *:after {
    box-sizing: inherit;
}

body {
    background: #000;
    color: #fff;
    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    position: relative;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

img {
    align-self: center;
}

.h-hide {
    display: none;
}

.l-wrapper {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.l-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.l-flex--column {
    flex-direction: column;
}

.l-flex__item {
    display: flex;
}

.l-flex__item--align-self-center {
    align-self: center;
}

/* Buttons */
.button {
    font-family: "Roboto Condensed";
    border-radius: 3px;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
}

.button-cta {
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.button-primary {
    background: #bda871;
    color: #000;
    border: 1px solid #bda871;
}

.button-primary:hover {
    background: #cdbd94;
    border-color: #cdbd94;
}

.button-secondary {
    color: #fff;
    border: solid 1px #fff;
}

.button-secondary:hover {
    background-color: #414349;
}

.sticky-bar {
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.lp-header {
    background-color: #121212;
}

.lp-footer a,
.lp-footer a:visited,
.tyc-container a,
.tyc-container a:visited {
    color: #fff;
    text-decoration: none;
}

/* HERO */
.hero {
    background: url('${val:./hero.Parameters[bg]}') no-repeat #000;
    background-size: 100%;
    height: 35vw;
    display: flex;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    padding: 5.5vw 3vw 0vw 5vw;
}

.hero-asset-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    padding: 5vw 0 0vw 0;
}

.hero-img-asset {
    transform: translate(-12vw, 2.5vw);
    width: 69%;
}

.hero-img {
    width: 76%;
    margin: 0px 1vw 1vw 1vw;
}

.hero-mobile-img {
    display: none;
}

.hero-container .button {
    font-size: initial;
    margin: 0 auto;
}

/* STEPS */
.steps {
    color: #fff;
    text-transform: uppercase;
    background: #29292f;
    border-top: 1px solid #bda871;
    padding: 1rem 0;
}

.steps-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin-top: 2.8vw;
    margin-bottom: 2.8vw;
}

.steps-item {
    display: flex;
}

.steps-circle {
    font-family: "Roboto", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    color: #000;
    background-color: #bda871;
    min-width: 30px;
    height: 30px;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.steps-title {
    font-family: "Roboto", Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.steps-copy {
    font-family: 'Roboto Condensed', Verdana, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

/* T&C */
.tyc {
    background: #29292f;
}

.tyc-container {
    color: #fff;
}

.tyc-container ol,
.tyc-container ul {
    padding: 0 1.25rem;
    margin: 0.5rem 0;
}

.tyc-container ol li,
.tyc-container ul li {
    margin: 0 0.5rem;
}

.tyc-content ol:last-child {
    margin-bottom: 0;
}

.tyc-title {
    border: solid 1px #bda871;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    line-height: 2.6;
    position: relative;
}

.tyc-title:after {
    align-self: center;
    content: '+';
    display: block;
    font-size: 1rem;
    line-height: 1;
}

.tyc-toggle:checked~.tyc-content {
    display: block;
}

.tyc-toggle:checked~.tyc-title:after {
    content: '-';
}

.tyc-content {
    font-family: "Roboto Condensed", Verdana, Arial, Helvetica, sans-serif;
    display: none;
    font-size: 1rem;
    padding-top: 1rem;
    text-align: left;
}

.lp-footer {
    font-family: "Roboto Condensed", Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #292a2e;
}

.footer-title {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    display: flex !important;
    font-size: 1rem;
    justify-content: space-between;
    line-height: 2.6;
    position: relative;
    border-top: 1px solid #d4d4d5;
}

.footer-title:last-of-type {
    border-bottom: 1px solid #d4d4d5;
}

.footer-title:after {
    align-self: center;
    content: '\02C5';
    display: block;
    font-size: 1rem;
    line-height: 1;
}

.lp-footer input[type="checkbox"]:checked~.footer-title:after {
    content: '\02C4';
}

.lp-footer hr {
    margin: 1rem 0;
    width: 100%;
    color: #d4d4d5;
}

@media only screen and (max-width: 1024px) {
    .l-wrapper {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 992px) {
    .hero-container {
        display: none;
    }

    .hero-asset-container {
        display: none;
    }



    .hero-mobile-img {
        display: block;
        width: 100%;
    }

    .lp-header {
        position: fixed;
        width: 100%;
        z-index: 50;
    }

    .lp-main {
        padding-top: 57px;
    }

    .lp-footer {
        padding: 0 0 66px;
    }

    .button-cta {
        font-size: 1rem;
    }

    .steps {
        padding: 0;
    }

    .steps-list {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
        margin-top: 0;
    }

    .steps-item {
        padding: 1rem 2%;
        border-bottom: 1px solid #bda871;
    }

    .steps-item:last-child {
        border: none;
    }
}

@media only screen and (max-width: 576px) {
    .steps-title {
        font-size: 1rem;
    }

    .steps-copy {
        font-size: 0.75rem;
    }

    .tyc-bullet-title {
        font-size: 14px;
    }

    .tyc-container ol li,
    .tyc-container ul li,
    .tyc-container p {
        font-size: 12px;
    }
}