.controls {
    margin: 0 auto;
}


/* CK5 Text Area */

#ck5-textarea {
    max-height: 460px;
    height: 460px;
    padding: 10px 20px;
    z-index: 1;
    font-size: 0.85em;
    line-height: 1.5em;
}

#ck5-textarea p {
    font-size: 0.85rem;
    line-height: 1.5em;
}

.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel_se {
    background-color: rgb(255 255 255 / 70%);
}

.ck.ck-form__header {
    background-color: #FFFFFF;
}



.raw-text__wrapper, .cleaned-text__wrapper {
    padding: 20px;
}

.raw-text__wrapper {
    background-color: #050505;
   max-width: 800px;
}

.mpp-simulator__wrapper {
    padding: 0 20px;
    max-width: 780px !important;
    margin: 0 auto;
}


#cleanedHTML__textarea {
    overflow: auto;
    padding: 10px;
    margin: 20px 0;
    color: #050505;
    background-color: white;
    border: 1px solid #757575;
    height: 442px;
    width: 100%;
    font-size: 0.8em;
 
}

#copy-code {
    float: right;
}

textarea:focus-visible {
    border: 1px solid #0d65ff;
}


div.ck-source-editing-area > textarea {
    top: 0;
    left: 0;
    overflow: auto;
    height: 600px;
    font-size: 0.85em;
    line-height: 1.25em;
    font-family: monospace;
    color: #363636;
    background-color: #f3f3f3;
}

.ck-source-editing-area {
    min-height: 500px;
}

.ck.ck-editor__editable[role='textbox'], .ck.editor[role='textbox'] {
    max-height: 680px;
}


.cover-wrapper {
    height: 188px;
}

.main-body {
    background-color: #F5F5F5;
}

#overlay-loading {
    background-color: hsla(216, 98%, 52%, 0.2);
    /* background-color: rgb(0, 163, 91, 20%);
    background-color: hwb(43 44% 26% / 0.3); */
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3;
    opacity: 0;
    top: 0;
    left: 0;
    visibility: hidden;
    
}


.vn-profile-img .profile-img-width {
    max-width: 100%;
    width: 100%;
}




