* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

a {
    text-decoration: unset;
}

body {
    margin: 0;
}


#cms__side-nav {
    width: 260px;
    background-color: #FFF;
    font-size: 14px;
    float: left;
}

.side-nav__logo {
    background-color: #FFF;
    height: 83px;
    padding: 24px 16px;
}

.side-nav__links {
    padding: 0 16px;
    height: calc(100vh - 83px);
    overflow-y: auto;

}

.side-nav__links:hover {
    /* overflow-y: auto; */

}

.side-nav__link-group {
    padding: 10px 0;
    border-bottom: 1px #E3E8EF solid;
}

.link-group__list-title {
    font-weight: 500;
    padding: 6px;
    font-size: 12px;
}


.link-group__ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    color: #121926;
}

.link-group__li {
    padding: 14px 24px;
    color: #364152;
    background-color: #fff;
    margin-bottom: 5px;
    font-size: 12.5px;
}


.link-group__li:first-child {
    margin-top: 5px;
}

.link-group__li:last-child {
    margin-bottom: 0;
    margin-top: 5px;
}

.link-group__list-items .active {
    font-weight: 700;
    color: #673ab7;
    background-color: #EDE7F6;
    border-radius: 5px;
}

.link-group__li:hover {
    color: #673ab7;
    background-color: #EDE7F6;
    border-radius: 5px;
}

.with__chevron-down a:hover,
.with__chevron-up a:hover,
.with__chevron-down:hover,
.with__chevron-up:hover {
    color: #673ab7;
    cursor: pointer;
}

.with__chevron-up a,
.with__chevron-down a {
    display: block;
}

.side-nav__link-group a {
    color: #121926;
}

#cms__side-nav i {
    position: relative;
    top: -1px;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

#cms__side-nav .ti-chevron-down,
#cms__side-nav .ti-chevron-up {
    float: right;
    margin-right: 0;
}

#cms-logo {
    height: 35px;
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #EDE7F6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #EDE7F6;
    border-radius: 6px;
    border: 0px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #EDE7F6;
}


/* TOP NAV */

#cms__top-nav {
    background-color: #FFF;
    height: 83px;
    width: calc(100% - 260px);
    float: right;
}


/* MAIN BODY */

body,
html {
    height: 100%;
}

#cms__main-body {
    background-color: #FFF;
    width: calc(100% - 260px);
    height: calc(100% - 83px);
    float: right;
}

#cms__main-content {
    background-color: #eef2f6;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    margin-right: 20px;
}