* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

a {
    text-decoration: unset;
}

body {
    margin: 0;
}


#cms__side-nav {
    width: 260px;
    background-color: #FFF;
    font-size: 14px;
}

.side-nav__logo {
    background-color: #FFF;
    height: 83px;
    padding: 24px 16px;
}

.side-nav__links {
    padding: 0 16px;
    
}

.side-nav__link-group {
    padding: 10px 0;
    border-bottom: 1px #E3E8EF solid;
}

.link-group__list-title {
    font-weight: 500;
    padding: 6px;
    font-size: 12px;
}


.link-group__ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    color: #121926;
}

.link-group__li {
    padding: 14px 24px;
    color: #364152;
    background-color: #fff;
    margin-bottom: 5px;
    font-size: 12.5px;
}


.link-group__li:first-child {
    margin-top: 5px;
}

.link-group__li:last-child {
    margin-bottom: 0;
}

.link-group__list-items .active, 
.link-group__list-items .active i {
    font-weight: 700;
    color: #9275CA;
    background-color: #EDE7F6;
    border-radius: 5px;
}

.link-group__li:hover {
    font-weight: 700;
    color: #9275CA;
    background-color: #EDE7F6;
    border-radius: 5px;
}

#cms__side-nav i {
    position: relative;
    top: -1px;
    margin-left: 8px;
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

#cms-logo {
    height: 35px;
}